html, body {
	height:100%;
}

div.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
div.push,div#input_area {
	height:60px;
}
#chat {
	margin:0;
	padding: 20px 6% 20px 6%;
	}
div.message {
	background-color:rgba(255,255,255,0.6);
	padding:15px;
	margin-top:15px;
}

div.message span {
	color:white;
	font-size:46px;
	padding:0px 15px 0px 15px;
}
div#input_area {
	width:86%;
	margin-left:6%;
    box-sizing:border-box;
}
#txtMessage {
	width:90%;
	box-sizing:border-box;
	background-color:#252932;
	padding-bottom:15px;
	padding-left:0;
	border:none;
	border-bottom:2px solid white;
	font-size:46px;
	color:white;
	height:55px;
}
#txtMessage:focus {
	outline:none;
	border-bottom:2px solid white;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}
#arrowChat {
	width:5%;
	height:60px;
	position:relative;
	top:15px;
	left:5px;
}

#submit
{
    margin-top: 5%;
    margin-left: 15%; 
    width: 65%;
}

