*{
	box-sizing:border-box;
}
body {
	margin: 0;
	background-color: #252932;
}
img#logo {
	margin:0;
	width:100%;
	height:6.5%;
}
p#smiley_wrapper {
	margin-top:10%;
	width:100%;
	text-align:center;
}
img#smiley {
	width:120px;
	height:120px;
}
h2 {
	color:white;
	font-weight:400;
	font-size:37px;
	text-align:center;
    font-family: 'Open Sans', sans-serif;

}
h2.bold {
	font-weight:bold;
}
input#pinput {
    font-family: 'Open Sans', sans-serif;
	width:100%;
	padding-left:35%;
	background-color:#E2393E;
	height:130px;
	margin-top:50px;
	font-size:38px;
	color:white;
	outline:0;
	border:none;
	background-image: url(../images/arrow-icon-01.svg);
	background-position: 25% 14px;
	background-repeat:no-repeat;
}
input#pinput:focus {
	border-top: 2px solid white;
	border-bottom:2px solid white;
}
::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

p.submit {
	text-align:center;
}
img#submit {
	width:45%;
	margin-top:20px;
}

#errorMessage
{
    text-align: center;
    color: red;
    font-weight: bold;
    visibility:hidden;
    margin-bottom: 0px;
    margin-top: 5%;
    font-size: 25px;
}