<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>AWEARNESS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="css/alert_style.css" />
    <meta name="viewport" content="user-scalable=no">

</head>
<body>
    @RenderSection("scripts", required: false)
    <img id="logo" src="images/bar-1.svg" />
    <img id="main" src="images/contect-hole-big-1.svg" />
    <img id="picture" src="images/old.jpg" />
    <p id="name"></p>
    <p id="age"></p>
    @RenderBody()

</body>
</html>
