@{
    Layout = null ;

}

<div id="tabs" class="wow bounceInUp">
    <img class="tabsIcons" src="~/images/medicalInfoTab.svg" />
    <img class="tabsIcons" src="~/images/contactsTab.svg" />
    <img class="tabsIcons" src="~/images/chatTab.svg" />
</div>
