@{
    Layout = null ;

}

<div id="tabs" class="wow bounceInUp">
    <img class="tabsIcons activeTab" src="~/images/Medical Info/medicalInfo.svg" />
    <img class="tabsIcons unactiveTab" src="~/images/Medical Info/contacts.svg" />
    <img class="tabsIcons unactiveTab" src="~/images/Medical Info/chat.svg" />
</div>
<div id="medicalInfo" style="width:100%">
    <div id="generalInfo" class="medicalInfoBox">
        <img class="iconsMedicalInfo" src="~/images/Medical Info/GeneralInfoIcon.svg" />
        <span class="titlesCaregiverEvent">General Information</span>
    </div>
    <div id="Allergies" class="medicalInfoBox">
        <img class="iconsMedicalInfo" src="~/images/Medical Info/Allergies.svg" />
        <span class="titlesCaregiverEvent">Allergies</span>
    </div>
    <div id="Diseases" class="medicalInfoBox">
        <img class="iconsMedicalInfo" src="~/images/Medical Info/Diseases.svg" />
        <span class="titlesCaregiverEvent">Diseases</span>
    </div>
    <div id="Medicines" class="medicalInfoBox">
        <img class="iconsMedicalInfo" src="~/images/Medical Info/Medicines.svg" />
        <span class="titlesCaregiverEvent">Medicines</span>
    </div>
</div>
