@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";

}

@model AWEARNESS.Models.Repository.User

    <input type="text" placeholder="Type your phone number" id="number" /><br>
    <div id="select"><span>Choose Event</span></div>
    <p class="repeat">
        <span>Regular</span>
    </p>
    <p class="repeat">
        <span>Lost</span>
    </p>
    <p class="repeat">
        <span>Fell-Down</span>
    </p>
    <p class="repeat">
        <span>Fainted</span>
    </p>
    <p class="repeat">
        <span>Light-Injury</span>
    </p>
    <p class="repeat">
        <span>Medium-Injury</span>
    </p>
    <p class="repeat">
        <span>Difficult-Injury</span>
    </p>

    <p id="alert_btn"><img src="images/alert-1.svg" class="alert_btn" /></p>

<script src="~/js/mainScript.js"></script>
<script>
    var fullname = "@Model.FirstName" + " " + "@Model.LastName";
    $('#name').text(fullname);
    var age = getAge("@Model.Birthday.ToShortDateString()");
    $('#age').text("Age: " + age);
</script>