@{
    Layout = null;
}

@model AWEARNESS.Models.Repository.User



<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="css/alert_style.css" />
</head>

<body>

    <nav><span>A<strong>WEAR</strong>NESS</span></nav>
    <img id="main" src="images/holly-01.svg" />
    <img id="picture" src="~/images/old-man.jpg" />
    <p id="name"></p>
    <p id="age"></p>

    <input type="text" placeholder="Type your phone number" id="number" /><br>
    <div id="select"><span>Choose Event</span></div>
    <p class="repeat">
        <span>Regular</span>
    </p>
    <p class="repeat">
        <span>Lost</span>
    </p>
    <p class="repeat">
        <span>Fell-Down</span>
    </p>
    <p class="repeat">
        <span>Fainted</span>
    </p>
    <p class="repeat">
        <span>Light-Injury</span>
    </p>
    <p class="repeat">
        <span>Medium-Injury</span>
    </p>
    <p class="repeat">
        <span>Difficult-Injury</span>
    </p>

    <p id="alert_btn"><img src="images/meshushe-push-1-01.svg" class="alert_btn" /></p>

</body>


<script>
    $(document).ready(function () {
        var $events = $('p.repeat');
        var $selection = $('div#select');
        var select_span = document.getElementById('select').childNodes[0];
        var $number = $('input#number');
        var name_area = document.getElementById("name");
        var age_area = document.getElementById("age");
        var $picture = $('img#picture');
        var fullname = "Name: " + "@Model.FirstName" + " " + "@Model.LastName";
        $('#name').text(fullname);
        var age = getAge("@Model.Birthday.ToShortDateString()");
        $('#age').text(age);
        var window_width = $(window).width();
        var longest = 0;
        //hide event list
        $events.hide();

        function order_style() {
            //find longest element
            for (var i = 0; i < $events.length; i++) {
                var elem_width = $($events[i]).first().width();
                if (elem_width > longest) longest = elem_width;
            }
            //align by the longest element
            name_area.style.left = (window_width - $(name_area).width()) / 2 + "px";
            name_area.style.top = $('img#main').height() * 0.6 + 75 + "px";

            age_area.style.left = (window_width - $(age_area).width()) / 2 + "px";
            age_area.style.top = $('img#main').height() * 0.7 + 75 + "px";

            select_span.style.paddingLeft = (window_width - longest) / 2 + "px";
            $number.css('padding-left', (window_width - longest) / 2 + "px");

            $picture.height(0.48 * $('img#main').height());
            $picture.css('left', (window_width - $picture.width()) / 2 + "px");
            $picture.css('top', $picture.height() * 0.24 + 75 + "px");

            for (var i = 0; i < $events.length; i++) {
                $events[i].style.paddingLeft = (window_width - longest) / 2 + "px";
            }
        }
        //apply padding style
        order_style();

        //event listeners
        $selection.click(function () {
            $events.show();
        });

        $events.click(function () {
            $(select_span).text($(this).text());
            $events.hide();
        });

        $number.focus(function () {
            $(this).css('background-color', '#1C2127');
        });

        $number.blur(function () {
            $(this).css('background-color', '#3B4351');
        });

        //alert button click event
        $('img.alert_btn').click(function () {
            if ($(select_span).text().trim() == 'Choose Event') {
                return;
            } else {
                var alert = { number: $number.val(), category: $(select_span).text().trim() };
                console.log(alert);
            }
        });

        function getAge(dateString) {
            var dateArr = dateString.split("/");
            var today = new Date();
            var birthDate = new Date(dateArr[2], dateArr[1] - 1, dateArr[0]);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }
    });

</script>
    </html>
